<section>
  <div class="close">
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </div>
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="content">
      <h1 mat-dialog-title>Forgot Password</h1>
      <div mat-dialog-content>
        <p>Enter your Email to receive the link.</p>
        <mat-form-field appearance="outline">
          <mat-label>Enter Email</mat-label>
          <input type="email" name="email" ngModel placeholder="abc@gmail.com" #emailWithPattern="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required matInput />
          <mat-error *ngIf="emailWithPattern.errors?.required">*Email is required</mat-error>
          <mat-error *ngIf="emailWithPattern.errors?.pattern">*Invalid Email</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
      <button type="button" mat-button (click)="onNoClick()">Cancel</button>
      <button type="submit" mat-button [mat-dialog-close]="data" [disabled]="form.invalid">
        Send Link
      </button>
    </div>
  </form>
</section>
