section {
  position: relative;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    mat-icon {
      font-size: 30px;
      cursor: pointer;
    }
  }
  form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
      }
      mat-form-field {
        color: gray;
        width: 400px;
      }
    }
    button {
      background-image: linear-gradient(to right, #1a1d6c, #00b790);
      color: white;
    }
    button:hover {
      background-image: linear-gradient(to right, #00b790, #1a1d6c);
    }
    button[disabled="disabled"],
    button:disabled {
      color: rgb(226, 223, 223);
      background-image: linear-gradient(to right, gray, gray);
      cursor: not-allowed;
    }
  }
  ::ng-deep {
    .mat-dialog-container {
      padding: 0;
      background-color: aliceblue !important;
      color: black;
    }
    .mat-form-field-outline {
      color: gray;
    }
    mat-label {
      color: gray;
    }
    .mat-form-field-outline {
      background-color: white;
      border-radius: 8px;
    }
  }
}
