.content{
    margin-left: 20px;
    h1 {
        color: #1b006b;
        font-weight: 500;
        font-size: 30px;
        margin-top: 30px;
    }
    .active-link{
        color: #00b790;
        border-bottom: 2px solid #00b790;
    }
    nav {
        border-bottom: none;
    }
    
}