<section>
    <h1>Reset Password</h1>
    <form [formGroup]="resetForm" autocomplete="off">
        <div class="field">
            <mat-error *ngIf="showErr">Password and Confirm Password not matched!</mat-error>
            <label>Enter your new password</label>
            <mat-form-field appearance="outline">
                <a (click)="toggleShow()">
                    <mat-icon *ngIf="!showPassword" class="loc">visibility</mat-icon>
                    <mat-icon *ngIf="showPassword" class="loc">visibility_off</mat-icon>
                </a>
                <input [type]="showPassword ? 'text' : 'password'" autocomplete="off" formControlName="password" matInput placeholder="Password" required />
                <mat-error *ngIf="this.resetForm.controls.password.errors?.required">*Password is required</mat-error>
            </mat-form-field>
        </div>
        <div class="field">
            <label>Confirm your password</label>
            <mat-form-field appearance="outline">
                <a (click)="toggleShow()">
                    <mat-icon *ngIf="!showPassword" class="loc">visibility</mat-icon>
                    <mat-icon *ngIf="showPassword" class="loc">visibility_off</mat-icon>
                </a>
                <input [type]="showPassword ? 'text' : 'password'" autocomplete="off" formControlName="cnfPassword" matInput placeholder="Confirm Password" required />
                <mat-error *ngIf="this.resetForm.controls.cnfPassword.errors?.required">*Confirm password is required</mat-error>
            </mat-form-field>
        </div>
        <div class="btn">
            <button mat-raised-button (click)="onSubmit()" type="submit">Reset Password</button>
        </div>
    </form>
</section>