section{
    padding-top: 30px;
    border-top: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
        width: 90%;
        label{
            font-size: 15px;
        }
        mat-form-field {
            position: relative;
        }
        .loc {
            position: absolute;
            right: 0;
            bottom: 16px;
            z-index: 1;
        }
        a:hover{
            cursor: pointer;
        }
        .field{
            display: flex;
            flex-direction: column;
        }
        ::ng-deep .mat-form-field-outline {
            background-color: white;
            border-radius: 8px;
        }
        .btn{
            display: flex;
            justify-content: flex-end;
            button {
                width: 50%;
                margin-top: 10px;
                background-image: linear-gradient(to right, #1a1d6c, #00b790);
                color: white;
                padding: 5px;
                font-size: 18px;
                ::ng-deep .mat-progress-spinner circle,
                .mat-spinner circle {
                    stroke: white;
                }
            }
            button:hover {
                background-image: linear-gradient(to right, #00b790, #1a1d6c);
            }
        }
    }
    
}