section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    mat-dialog-actions{
        float: right;
    }
    button{
        float: right;
        background-image: linear-gradient(to right, #1a1d6c, #00b790);
        width: 140px;
        height: 50px;
        font-size: 20px;
        margin-top: 50px;
        color: white;
    }
}